In [2]:
# imports all libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
# imports the dataset
data = pd.read_csv("./data/flight_price_data/Clean_Dataset.csv")
data = data.drop(columns=['Unnamed: 0'])
data.tail()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [13]:
# duplicate or nullvalue
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   flight            300153 non-null  object
 2   source_city       300153 non-null  object
 3   departure_time    300153 non-null  object
 4   stops             300153 non-null  object
 5   arrival_time      300153 non-null  object
 6   destination_city  300153 non-null  object
 7   class             300153 non-null  object
 8   duration          300153 non-null  float64
 9   days_left         300153 non-null  int64
 10  price             300153 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 25.2+ MB

In [ ]:
## Features Engineering
# convert date: object -> date
'''
    # Separate the date
    data['Date'] = data['Date_of_journy].str.split('/').str[0]
    data['Month'] = data['Date_of_journy].str.split('/').str[1]
    data['Year'] = data['Date_of_journy].str.split('/').str[2]
    
    # string to date
    data['Date'] = data['Date'].astype(int)
    data['Month'] = data['Month'].astype(int)
    data['Year'] = data['Year'].astype(int)
'''

In [ ]:
# dop a columnd
data.drop('column name', axis=1, inplace=True)  # for column the axis = 1

In [ ]:
# same goes for time object if time has
# convert date: time string -> time int64

'''
    if time like 10:30:11 22 March
    data[Arrival Time] = data[Arrival Time].apply(lambda x: x.split(' ')[0])
'''

'''
    # Separate the date
    data['Hour'] = data['Arrival Time].str.split('/').str[0]
    data['Minute'] = data['Arrival Time].str.split('/').str[1]
    data['Second'] = data['Arrival Time].str.split('/').str[2]
    
    # string to date
    data['Hour'] = data['Date'].astype(int)
    data['Minute'] = data['Month'].astype(int)
    data['Second'] = data['Year'].astype(int)
'''