In [83]:
# imports all libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import OneHotEncoder
%matplotlib inline

In [68]:
# imports the dataset
data = pd.read_csv("./data/flight_price_data/Clean_Dataset.csv")
data = data.drop(columns=['Unnamed: 0'])
data.tail()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [69]:
# duplicate or nullvalue
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   flight            300153 non-null  object
 2   source_city       300153 non-null  object
 3   departure_time    300153 non-null  object
 4   stops             300153 non-null  object
 5   arrival_time      300153 non-null  object
 6   destination_city  300153 non-null  object
 7   class             300153 non-null  object
 8   duration          300153 non-null  float64
 9   days_left         300153 non-null  int64
 10  price             300153 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 25.2+ MB

In [70]:
## Features Engineering
# convert date: object -> date
'''
    # Separate the date
    data['Date'] = data['Date_of_journy].str.split('/').str[0]
    data['Month'] = data['Date_of_journy].str.split('/').str[1]
    data['Year'] = data['Date_of_journy].str.split('/').str[2]
    
    # string to date
    data['Date'] = data['Date'].astype(int)
    data['Month'] = data['Month'].astype(int)
    data['Year'] = data['Year'].astype(int)
'''

"\n    # Separate the date\n    data['Date'] = data['Date_of_journy].str.split('/').str[0]\n    data['Month'] = data['Date_of_journy].str.split('/').str[1]\n    data['Year'] = data['Date_of_journy].str.split('/').str[2]\n    \n    # string to date\n    data['Date'] = data['Date'].astype(int)\n    data['Month'] = data['Month'].astype(int)\n    data['Year'] = data['Year'].astype(int)\n"

In [71]:
# dop a columnd
data.drop('column name', axis=1, inplace=True)  # for column the axis = 1

KeyError: "['column name'] not found in axis"

In [1]:
# same goes for time object if time has
# convert date: time string -> time int64

'''
    if time like 10:30:11 22 March
    data[Arrival Time] = data[Arrival Time].apply(lambda x: x.split(' ')[0])
'''

'''
    # Separate the date
    data['Hour'] = data['Arrival Time].str.split('/').str[0]
    data['Minute'] = data['Arrival Time].str.split('/').str[1]
    data['Second'] = data['Arrival Time].str.split('/').str[2]
    
    # string to date
    data['Hour'] = data['Date'].astype(int)
    data['Minute'] = data['Month'].astype(int)
    data['Second'] = data['Year'].astype(int)
'''

"\n    # Separate the date\n    data['Hour'] = data['Arrival Time].str.split('/').str[0]\n    data['Minute'] = data['Arrival Time].str.split('/').str[1]\n    data['Second'] = data['Arrival Time].str.split('/').str[2]\n    \n    # string to date\n    data['Hour'] = data['Date'].astype(int)\n    data['Minute'] = data['Month'].astype(int)\n    data['Second'] = data['Year'].astype(int)\n"

In [72]:
data.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [73]:
data["arrival_hour"] = data["duration"].astype(str).str.split('.').str[0].astype(int)
data["arrival_minute"] = data["duration"].astype(str).str.split('.').str[1].astype(int)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   flight            300153 non-null  object
 2   source_city       300153 non-null  object
 3   departure_time    300153 non-null  object
 4   stops             300153 non-null  object
 5   arrival_time      300153 non-null  object
 6   destination_city  300153 non-null  object
 7   class             300153 non-null  object
 8   duration          300153 non-null  float64
 9   days_left         300153 non-null  int64
 10  price             300153 non-null  int64
 11  arrival_hour      300153 non-null  int64
 12  arrival_minute    300153 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 29.8+ MB

In [74]:
# drop the duration columns
data.drop(columns="duration", axis=1, inplace=True)

In [30]:
data.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,days_left,price,arrival_hour,arrival_minute
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,1,5953,2,17
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,1,5953,2,33
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,1,5956,2,17
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,1,5955,2,25
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,1,5955,2,33

In [75]:
# Handle categorical data 
data['stops'].unique()

data['stops'] = data['stops'].map(
    {
        'zero': 0,
        'one': 1,
        'two_or_more': 2,
        np.nan: 0
    }
)

In [80]:
# data.tail()
# data['stops'].mode()
data.head()
data['source_city'].unique()
data['arrival_minute'].isnull().sum()
data.isnull().sum()

airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
days_left           0
price               0
arrival_hour        0
arrival_minute      0
dtype: int64

In [84]:
data['airline'].unique()
data['class'].unique()

array(['Economy', 'Business'], dtype=object)

In [85]:
# One Hot Encoding
encoder = OneHotEncoder()

In [95]:
encoder.fit_transform(data[["airline","flight","source_city","departure_time","arrival_time","destination_city","class"]]).toarray()

array([[0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 1., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]], shape=(300153, 1593))

In [97]:
encoded_data = pd.DataFrame(encoder.fit_transform(data[["airline","flight","source_city","departure_time","arrival_time","destination_city","class"]]).toarray(), columns=encoder.get_feature_names_out())

In [98]:
# merge his to previous data
data = pd.concat([data, encoded_data], axis=1)

In [100]:
data.drop(["airline","flight","source_city","departure_time","arrival_time","destination_city","class"], axis=1, inplace=True)

In [1]:
# sns.heatmap(data)
# small_data = data.sample(n=500)
# sns.heatmap(small_data, annot=True)