### Handling Imbalanced Dataset

1. Up Sampling -> increase the low number if data
2. Down Sampling -> decrease the number of high data

In [23]:
import numpy as np
import pandas as pd

# Set the seed for reproducibilty
np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.9
n_calss_0 = int(n_samples * class_0_ratio)
n_calss_1 = int(n_samples - n_calss_0)
n_calss_0, n_calss_1

(900, 100)

In [24]:
# create a dataset with imbalanced dataset
class_0 = pd.DataFrame({
    "features_1" : np.random.normal(loc=0, scale=1, size=n_calss_0),
    "features_2" : np.random.normal(loc=0, scale=1, size=n_calss_0),
    'target' : [0] * n_calss_0
})

class_1 = pd.DataFrame({
    "features_1" : np.random.normal(loc=0, scale=1, size=n_calss_1),
    "features_2" : np.random.normal(loc=0, scale=1, size=n_calss_1),
    'target' : [1] * n_calss_1
})

In [25]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()
df.tail()

     features_1  features_2  target
995   -0.623629    0.845701       1
996    0.239810   -1.119923       1
997   -0.868240   -0.359297       1
998    0.902006   -1.609695       1
999    0.697490    0.013570       1

In [26]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [30]:
# upsampling
minority_class = df[df['target'] == 1]
minority_mejority = df[df['target'] == 0]

In [31]:
from sklearn.utils import resample

ModuleNotFoundError: No module named 'sklearn'