In [1]:
# streamlite is an open source app framework for creating ml and data sciennce application
import streamlit as st

In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, 30, 22, 35, 28],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
}

df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   35      Houston
4     Emma   28      Phoenix