# uber Data Analysis

In [1]:
# Imports all the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import os

In [2]:
files = os.listdir(r'E:\ML-Bootcamp-Practical\Data Analysis Projects\data\uber')

In [5]:
# import all the dataset and make a final data

data = pd.DataFrame()
for file in files:
    single_data = pd.read_csv('./data/uber/' + file, encoding='utf-8')
    data = pd.concat([single_data, data])

In [7]:
data.to_csv('./data/uber/merged_data.csv', index=False, encoding='utf-8')

# Now We Start Data analysis
#### 1. Prepare out data

In [31]:
# import dataset

data = pd.read_csv('./data/uber/merged_data.csv')
data.head(5)

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [15]:
# here all the infos of our datasets

# data.head(5)
# data.info()
# data.isnull().sum()
# data.describe()
data.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [32]:
data['Date/Time'] = pd.to_datetime(data['Date/Time'], format='%m/%d/%Y %H:%M:%S', errors='coerce')

In [49]:
data.dtypes
# data.head()

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
Days                 object
Day                   int32
Hour                  int32
Minute                int32
Second                int32
Month                 int32
dtype: object

In [42]:
# data['WeekDay'] = data['Date/Time'].dt.day_name()
data['Day'] = data['Date/Time'].dt.day
data['Hour'] = data['Date/Time'].dt.hour
data['Minute'] = data['Date/Time'].dt.minute
data['Second'] = data['Date/Time'].dt.second

In [48]:
data.head()
# data['Month'] = data['Date/Time'].dt.month

,Date/Time,Lat,Lon,Base,Days,Day,Hour,Minute,Second,Month
0,2014-09-01 00:01:00,40.2201,-74.0021,B02512,Monday,1,0,1,0,9
1,2014-09-01 00:01:00,40.7500,-74.0027,B02512,Monday,1,0,1,0,9
2,2014-09-01 00:03:00,40.7559,-73.9864,B02512,Monday,1,0,3,0,9
3,2014-09-01 00:06:00,40.7450,-73.9889,B02512,Monday,1,0,6,0,9
4,2014-09-01 00:11:00,40.8145,-73.9444,B02512,Monday,1,0,11,0,9